.navlink {
    padding: 10px;
    text-decoration: none;
    color: lightgreen;

    &.active {
        background-color: black;
        pointer-events: none;
    }
    
    &:hover {
        background-color: black;
    }
    
}

