:root {
    --primary-color: darkolivegreen;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#root {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;

    .logo {
        flex-grow: 1;
    }

    
}

nav {
    display: flex;
    gap: 10px;
    
   
}

.navlink {
    padding: 10px;
    text-decoration: none;
    color: black;

    &.active {
        background-color: black;
        color: white;
        pointer-events: none;
    }
    
    &:hover {
        background-color: black;
        color: white;
    }
    
}

